body {
    background-color: #f2f4f6;
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'STHeiti', 'WenQuanYi Micro Hei', SimSun, sans-serif;
    -webkit-font-smoothing: antialiased
}